.git
.github
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/.idea
**/.vscode
**/*.swp
**/*.swo
**/venv
**/.venv
**/node_modules
**/coverage
**/build
**/dist

**/node_modules
**/venv
